$main-color: #ff9100;
$dark-color: #211e1e;
$brown-color: #4a1c00;
$footer-color: #181717;
$light-dark-color: #2d3436;
$light-grey-color: #f7f7f7;
$secondary-color: #15b2e5;

$roboto: "Roboto", sans-serif;
$montserrat: "Montserrat", sans-serif;
$bebas-neue: "Bebas Neue", cursive;
$oswald: "Oswald", sans-serif;

$fullhdWidth: 1920px;
$largeWidth: 1640px;
$laptopWidth: 1366px;
$tabletWidth: 1024px;
$smallTabletWidth: 768px;
$phoneWidth: 580px;
$smallPhoneWidth: 420px;
