.button {
  border-color: #000000;
  font-size: x-large;
  display: flex;
  padding: 10px;
  align-items: center;
  text-align: center;
  color: #fffbfb;
  border-radius: 5px;
  cursor: pointer;
  background: inherit;
}

.button:focus {
  outline: none;
}
