.button {
  border-color: 000000;
  font-family: "Inter";
  font-style: normal;
  display: flex;
  align-items: center;
  text-align: center;
  color: #fffbfb;
  border-radius: 20px;
  cursor: pointer;

  background: #918f8f;
}

.button:focus {
  outline: none;
}
