//@import-normalize;
@import "./assets/styles/variables/variables.scss";

* {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  font-weight: 400;
  line-height: 130%;
}

body {
  width: 100%;
  overflow-x: hidden;
  margin: 0;
}

p,
ul,
li,
a,
code,
table,
td,
dt,
dd,
div,
input,
textarea,
button,
nav,
label,
select {
  font-size: 2rem;
  //color: $color-dark;
  font-family: $montserrat;
}

p {
  font-size: 16px;
  line-height: 150%;
}

h1 {
  font-size: 3.4rem;
}

h2 {
  font-size: 3rem;
}

h3 {
  font-size: 2.8rem;
}

h4 {
  font-size: 2.4rem;
}

h5 {
  font-size: 2rem;
}

h6 {
  font-size: 1.6rem;
}

#root {
  width: 100%;
  overflow: hidden;
}

@media (max-width: 1366px) {
  html {
    font-size: 55%;
  }
}

@media (max-width: 1024px) {
  html {
    font-size: 50%;
  }
}

@media (max-width: 768px) {
  html {
    font-size: 45%;
  }
}

@media (max-width: 580px) {
  html {
    font-size: 44%;
  }

  p {
    margin: 0 0 20px 0;
    font-size: 14px;

    br {
      display: none;
    }
  }
}
