.input_style {
  display: grid;
  align-items: center;
  justify-items: center;
  margin-top: 0.5rem;
}

.input_style input {
  border-color: 000000;
  color: #000000;
  border-radius: 10px;
  cursor: pointer;
  font-size: larger;
  background: #ffffff;
}
